<style>
	.angular-google-map-container { height: 100%; }

	#mapMenuFabs{
		position:absolute;
		top:25px;
		left:25px;
	}
	.face {
	  border-radius: 30px;

	  width: 64px;
	  height:64px;
	  margin: 16px; 
	}

	#leftNav .md-toolbar-tools.md-tall{
		min-height:auto;
		height:auto;
	}
	.user_profile .md-toolbar-tools{
		min-height:32px;
		height:32px;
	}
	#leftNav .md-button{
		width:100%;
	}
	.marker-labels div{
	
	}	
	.marker-labels p{
		text-align:center;
		margin:0 auto 0 auto;
		font-size:12px;
		font-weight:bold;
	}
</style>

<div id="mapMenuFabs">


	<md-button class="md-fab" aria-label="Menu" ng-click="vm.openMenu('left')">
	    <md-icon icon="images/icons/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
	</md-button>
</div>


<md-sidenav id="leftNav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-indigo md-padding">
    		
      		<div ng-show="appVm.user===null">
      			<h2 class="md-toolbar-tools">Mobile Mines</h1>
      		</div>


    		<div class='user_profile' ng-show="appVm.user!==null">

	    		<img class="face" ng-src="{{appVm.user.google.cachedUserProfile.picture}}" />
				<h2 style="margin-bottom:10px" class="md-toolbar-tools">{{appVm.user.google.displayName}}</h2>
       		</div>

  
       
      </md-toolbar>
      <md-content class="md-padding">
        <md-button ng-click="vm.closeMenu('left')" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
			
        <md-button ng-show="appVm.user===null" ng-click="appVm.login()">
        	Login
        </md-button> 


        <div ng-show="appVm.user!==null">
        	<md-divider></md-divider>
    		<md-button  ng-click="appVm.logout()">
        		Logout
   			</md-button> 

        </div>
     

      </md-content>
</md-sidenav>


<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options='vm.map.options' events='vm.map.events' control='vm.map.control'>
	<ui-gmap-markers models="vm.userMarkers" coords="'self'" control='vm.map.markersControl' options="'options'" events='vm.map.userMarkerEvents' icon="'icon'">
</ui-gmap-google-map>